[client]
default-character-set=latin1

[mysqld]
max_allowed_packet=100M
sql_mode='ONLY_FULL_GROUP_BY,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'

collation-server=latin1_swedish_ci
character-set-server=latin1
