*  * * * * cd {{ install_directory }}/www && /usr/bin/neko index.n cron/minute > /dev/null 2>&1
0  * * * * cd {{ install_directory }}/www && /usr/bin/neko index.n cron/hour > /dev/null 2>&1
15 0 * * * cd {{ install_directory }}/www && /usr/bin/neko index.n cron/daily > /dev/null 2>&1
