<VirtualHost *:80>
  ServerName {{ cagette_webapp_webserver_vhost_servername }}
  {% if not cagette_webapp_webserver_tls_enabled -%}
  ServerAdmin {{ cagette_webapp_webserver_vhost_server_admin }}

  DocumentRoot {{ cagette_webapp_install_directory }}/www
  {% else %}
  Redirect permanent / https://{{ cagette_webapp_webserver_vhost_servername }}/
  {% endif %}

  LogLevel  warn
  ErrorLog  {{ cagette_webapp_webserver_error_log_path }}
  CustomLog {{ cagette_webapp_webserver_custom_log_path }} combined

  {% if not cagette_webapp_webserver_tls_enabled -%}
  <Directory {{ cagette_webapp_install_directory }}/www>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>
  {% endif -%}
</VirtualHost>

{% if cagette_webapp_webserver_tls_enabled -%}
<VirtualHost *:443>
  ServerName {{ cagette_webapp_webserver_vhost_servername }}
  ServerAdmin {{ cagette_webapp_webserver_vhost_server_admin }}

  DocumentRoot {{ cagette_webapp_install_directory }}/www

  SSLEngine             On
  SSLCertificateFile    {{ cagette_webapp_webserver_tls_certificate_path }}
  SSLCertificateKeyFile {{ cagette_webapp_webserver_tls_key_path }}

  LogLevel  warn
  ErrorLog  {{ cagette_webapp_webserver_error_log_path }}
  CustomLog {{ cagette_webapp_webserver_custom_log_path }} combined

  <Directory {{ cagette_webapp_install_directory }}/www>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>
{% endif %}
