<VirtualHost *:80>
  ServerName {{ webserver_vhost_servername }}
  Redirect permanent / https://{{ webserver_vhost_servername }}/

  LogLevel  warn
  ErrorLog  {{ webserver_error_log_path }}
  CustomLog {{ webserver_custom_log_path }} combined
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ webserver_vhost_servername }}
  ServerAdmin {{ webserver_vhost_server_admin }}

  DocumentRoot {{ install_directory }}/www

  {% if webserver_tls_enabled -%}
  SSLEngine             On
  SSLCertificateFile    {{ webserver_tls_certificate_path }}
  SSLCertificateKeyFile {{ webserver_tls_key_path }}
  {% endif %}

  LogLevel  warn
  ErrorLog  {{ webserver_error_log_path }}
  CustomLog {{ webserver_custom_log_path }} combined

  <Directory {{ install_directory }}/www>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>
